{% extends 'base.html' %}
 
 
{% block title %} IP Finder {% endblock %}
 
 
 
{% block body %}
 
<div class="container">
 
    <br>
    <br>
    <h1>IP Address Information Finder</h1>
    <h2>by Team 3 (Plus Ultra)</h2>
 
    <br>
    <br>
 
    <form action="{{url_for('Index')}}" method="post">
 
        <div class="form-group">
 
            <input type="text" name = "search" class="form-control mb-2" placeholder="Enter IP Address">
        </div>
 
        <input type="submit" class="btn btn-primary" value="Search">
 
 
 
    </form>
 
    <br>
    <br>
 
    <p>IP Address is : {{data.ip}}</p>
    <p>City Location is : {{data.city}}</p>
    <p>IP Country is : {{data.country}}</p>
    <p>Available Language is : {{data.languages}}</p>
 
    <p>Latitude Information Is : {{data.latitude}}</p>
    <p>Longitude Information Is : {{data.longitude}}</p>
    <p>Time Zone Information Is : {{data.timezone}}</p>
    <p>Availble Calling Code : {{data.country_calling_code}}</p>
    <p>Available Currency Is : {{data.currency}}</p>
    <p>Internet Network Is : {{data.org}}</p>
    <p>Continent Code Is : {{data.continent_code}}</p>
    <p>Postal Code Is : {{data.postal}}</p>
    <p>UTC Offset Is : {{data.utc_offset}}</p>
 
</div>
 
 
{% endblock %}