{% extends 'base.html' %}
 
 
{% block title %} IP Finder {% endblock %}
 
 
 
{% block body %}
 
<div class="container">
 
    <h1 class="mt-5 mb-2">IP Address Information Finder</h1>
    <h3 class="mb-1">by Team 3 (Plus Ultra)</h3>
    <p class="mb-5"> Members: Cahambing | Parman | Tejada</p>
 
    <form action="{{url_for('Index')}}" method="post">
 
        <div class="form-group"> <!-- user input -->
            <input type="text" name = "search" class="form-control mb-2" placeholder="Enter IP Address">
        </div>
 
        <input type="submit" class="btn btn-primary mb-4" value="Search">
 
 
 
    </form>
    
    <!-- Table for the Result -->
    <table class="table table-striped table-hover">
        <tbody>
            <tr>
                <td>IP Address</td>
                <td>{{data.ip}}</td>
            </tr>
            <tr>
                <td>City</td>
                <td>{{data.city}}</td>
            </tr>
            <tr>
                <td>Region</td>
                <td>{{data.region}}</td>
            </tr>
            <tr>
                <td>Country</td>
                <td>{{data.country}} | {{data.country_name}}</td>
            </tr>
            <tr>
                <td>Postal Code</td>
                <td>{{data.postal}}</td>
            </tr>
            <tr>
                <td>Latitute/Longitude</td>
                <td>{{data.latitude}} / {{data.longitude}}</td>
            </tr>
            <tr>
                <td>Time Zone</td>
                <td>{{data.timezone}}</td>
            </tr>
            <tr>
                <td>Calling Code</td>
                <td>{{data.country_calling_code}}</td>
            </tr>
            <tr>
                <td>Currency</td>
                <td>{{data.currency}}</td>
            </tr>
            <tr>
                <td>Language</td>
                <td>{{data.languages}}</td>
            </tr>
            <tr>
                <td>Continent Code</td>
                <td>{{data.continent_code}}</td>
            </tr>
            <tr>
                <td>ISP</td>
                <td>{{data.org}}</td>
            </tr>
        </tbody>

    </table>
</div>
 
 
{% endblock %}